
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<div class="card" style="width: 1100px;background-color:#EBF8FC">
    <div class="card" style="width:1100px ; background-color:#EBF8FC ; height:500px ">
        <h5 class="card-title" style="padding:15px ; color:#286575 ; font-weight:bold">Teacher Panel</h5>
        <div class="row">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li style="display: inline-block; margin-right: 10px; margin-left:30px">
                    <a asp-area="" asp-controller="Teacher" asp-action="Index" class="card-link" style=" color: #286575; font-weight: bolder;">Exam</a>
                </li>
                <li style="display: inline-block; margin-right: 10px;">
                    <a asp-area="" asp-controller="Teacher" asp-action="QnA" class="card-link" style="text-decoration: none; color: #286575; font-weight: bolder;">QnA</a>
                </li>
                
            </ul>
        </div>




        <div class="card" style="width: 1030px; margin-left:35px;margin-top:30px ; height:360px; background-color:#FFFFFF ">
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="NewExam">
                    <button style="border:none ;border-radius:14px ; color:#ffffff;width:120px ;font-size:larger ; font-weight:650 ;background-color:#286575 ">  Create  </button>
                </a>

                <div class="card" style="width: 980px;background-color:#EBF8FC ;margin-left:10px; margin-top:30px ; height:250px">
                    <div class="card-body">

                        <table class="table">
                            <tread>
                                <th scope="col" style="background-color:#286575;color:white">Title</th>
                                <th scope="col" style="background-color:#286575;color:white">Description</th>
                                <th scope="col" style="background-color:#286575;color:white">Start Date</th>
                                <th scope="col" style="background-color:#286575;color:white">Time</th>
                            </tread>
                            <tbody>
                                @foreach (Groups grp in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => grp.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => grp.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => grp.Description)</td>
                                        <td>
                                            <a asp-action="EditEmployee" asp-route-id="@grp.Id">Edit</a>
                                            <a asp-action="DeleteEmployee" asp-route-id="@grp.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                           

                            <!--<tbody>
                                <tr class="table-active">
                                    <th scope="row">1</th>
                                    <td>table-active</td>
                                </tr>
                            </tbody>-->
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

